body {
	background-image: url(http://www.blended-html.com/background-images/bi-html-background.png);
	
}

.jumbotron {
	background-image: url(https://images4.alphacoders.com/279/279284.jpg);

}

strong {
	color: #D84315;
	font-family: 'Sigmar One';
	text-shadow: 4px 4px 4px #CFD8DC;
	font-size: 100px;
}
 #imgcont {

 }

 #submitbutton {
 	 padding: 10px 20px;
	 font-size: 15px;
	 text-align: center;
	 cursor: pointer;
	 outline: none;
	 color: #fff;
	 background-color: #D84315;
	 border: none;
	 border-radius: 10px;
	 box-shadow: 0 9px #CFD8DC;
}

#submitbutton:hover {
	background-color: black;
}

#submitbutton:active {
	color: black;
  background-color: #CFD8DC;
  box-shadow: 0 5px #D84315;
  transform: translateY(4px);
}

#wordsearch {
	font-size: 50px;
	color: red;
	font-family: 'Tangerine';
	text-shadow: 4px 4px 4px #CFD8DC;
}
.btn {
	box-shadow: 0 5px #CFD8DC;
}
